.containor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-reset-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
input {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: medium;
}
.submit-btn {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  background-color: #3511e9;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}
.submit-btn:hover {
  background-color: #1e0cc1;
}
